* {
  box-sizing: border-box;
  padding: 1px;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {

  background: linear-gradient(90deg, rgba(25,27,28,1) 45%, rgba(124,124,124,1) 88%);
    rgba(2, 0, 36, 1) 0%,
    rgba(91, 106, 111, 1) 0%,
    rgba(12, 12, 13, 1) 0%,
    rgba(49, 49, 53, 1) 2%,
    rgba(102, 106, 107, 1) 100%
  );
}

#titulo {
  font-size: 40px;
  font-weight: 9000;
  font-family: fantasy;
  letter-spacing: 4px;

  text-align: center;
  color: rgba(230, 224, 224, 0.851);
}

.carro,
.bike {
  color: #fffffffb;
  letter-spacing: 2px;
  padding: 14px;
  padding-left: 22px;
  margin-left: 20px;
}

.preco-carro,
.preco-bike {
  text-decoration: underline;
  color: #e30f48;
}

.modelo-carro,
.modelo-bike {
  text-decoration: 5px underline #99062d;
  color: #e30f48;
}
.setinha,
.setinha-dois {
  color: #ffffff;
}

.bikes-kms,
.carros-kms {
  text-decoration: 5px underline #99062d;
  color: #e30f48;
}

.link-carro,
.link-bike {
  text-decoration: none;
  display: inline-block;
  background-color: #99062d;
  padding: 5px;
  border: solid rgb(27, 26, 26) 3px;
  border-radius: 29px;
  color: rgb(255, 255, 255);
}

.contato {
  font-family: fantasy;
  font-size: larger;
  text-align: center;
}

div h2 {
  margin: 30px;
  background-color: #070707;
}

.carros,
.bikes {
  color: #c7c5c5;
  font-size: 21px;
}

footer a {
  color: #fdfafb8d;
  font-size: 20px;
  font-weight: 280;
  text-decoration: none;
}

img {
  margin-top: 0px;
  margin-left: 18px;
  border: solid black 2px;
  border-radius: 10px;
  height: 150px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  text-decoration: none;
  font-weight: 300;
  color: #da1247d8;
  font-family: fantasy;
  font-size: 19px;
}

strong {
  color: #e30f48;
  font-weight: 300;
  font-family: fantasy;
  font-size: 40px;
}
